{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ".",
        "alias": {
          "@lib": "./lib",
          "@test": "./test",
          "~": "./src"
        }
      }
    ],
    [
      "styled-components",
      {
        "ssr": false
      }
    ]
  ],
  "comments": false
}
