name: check

on:
  pull_request:
  workflow_call:
    inputs:
      upload:
        type: boolean
        default: false

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: checkout master branch
        uses: actions/checkout@v3

      - name: setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 7

      - name: setup nodejs
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: pnpm

      - name: log versions
        run: |
          echo "nodejs: $(node -v)"
          echo "pnpm: $(pnpm -v)"

      - name: install dependencies
        run: pnpm install

      - name: run validate commands
        run: pnpm validate

      - name: build the project
        run: pnpm build

      - name: upload build artifacts
        if: inputs.upload
        uses: actions/upload-artifact@v3
        with:
          name: build
          path: dist
