name: deploy

on:
  pull_request:
    branches:
      - master
    types:
      - closed

jobs:
  check:
    if: github.event.pull_request.merged
    uses: ./.github/workflows/check.yml

  deploy:
    needs: check
    runs-on: ubuntu-latest
    steps:
      - name: download build artifacts
        uses: actions/download-artifact@v3
        with:
          name: build

      - name: publish to Github Pages
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: gh-pages
          build_dir: dist
          keep_history: true
          commit_message: ${{ format('[deploy to github pages {0}]', github.sha) }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
