name: CI/CD

on:
  push:
    branches: master

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: setup nodejs
        uses: actions/setup-node@v1.1.0
        with:
          version: 13.8.0
      - name: versions
        run: |
          echo "nodejs: $(node -v)"
          echo "yarn: $(yarn -v)"
      - name: get cache directory
        id: cache-dir
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: cache dependencies
        uses: actions/cache@master
        id: cache
        with:
          path: |
            node_modules
            ${{ steps.cache-dir.outputs.dir }}
          key: ${{ hashFiles('**/yarn.lock') }}
      - name: install packages
        run: yarn --frozen-lockfile
      - name: run validate commands
        run: yarn validate
